.home__images img {

    position: absolute;
    max-width: initial;
    width: 800px;
    right: -9.2rem;
    bottom: 0;
    filter: saturate(1.3);
}

/* For medium device */
@media screen and (min-width: 576px) {
    .home__images img {
        width: initial;
        right: 0;
    }
}